.root {
  :global {
    li {
      display: inline-block;

      a {
        display: block;
        width: 45px;
        height: 45px;
        text-align: center;
        line-height: 45px;
        border: 1px solid #fe5f1e;
        border-radius: 30px;
        margin-left: 20px;
        cursor: pointer;
      }
    }

    .selected {
      a {
        background-color: #fe5f1e;
        width: 45px;
        height: 45px;
        line-height: 45px;
        border-radius: 30px;
      }
    }
  }
}
